body {
    background-color: black;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}

.header {
    position: sticky;
    top: 0;
    background-color: black;
    color: #f1f1f1;
    padding: 10px;
    opacity: 0.9;
  }

.header-container{
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding: 0px;

}

#header-name{
    text-align: center;
}