body {
    background-color: black;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
#header-container{
    max-width: 100%;
    width: 100%;
    
    text-align: center;
}

#header-name{
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

#icon-container{
    width: 100px;
    float: left;
}
.header-icon{
    display:flex;
    height:80px;
    margin-left: 15px;
    flex:1;
}

/* .header-mid{
    display:flex;
    flex:2;
    width: 100%;
    margin-left:100px;
    background-color: aqua;
    align-items: center;
} */

/* .header {
    height: 80px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
  }
   */