body {
    background-color: black;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}
#header-container{
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}

#header-name{
    text-align: center;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    letter-spacing: 1px;
}

#icon-container{
    width: 100px;
    float: left;
    vertical-align: top;
}
.header-icon{
    display:flex;
    height:80px;
    margin-left: 15px;
    flex:1;
}
.topbar {

    height: 30px;
    text-align: center;
}
.button {
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-right: 20px;

}

a {
    text-decoration: none;
}

.button:hover {
    /* background-color: aquamarine; */
    color: white;
    border-color: rgb(61, 35, 13);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.button:active {
    /* background-color: aquamarine; */
    color: white;
    border-color: rgb(61, 35, 13);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

#img-body {
    width: 100%;
}

#text-body {
    width: 30%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

}

#image-body {
    width: 50%;
    float: left;
    background-color: aqua;
    /* background-image: url('images/matcha-body.jpeg'); */
    /* height: auto; */
    background-size: 100% 100%;
    
    
}

#match-image {
    object-fit: cover;

   
}